/* invoice-create.component.css */
.mat-elevation-z2 {
  width: 60%; /* Adjust the width as needed */
  margin: auto;
  padding: 20px;
}

.invoice-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.full-width {
  width: calc(50% - 10px); /* Adjust the width and margin as needed */
  margin-bottom: 20px;
}

.title {
  text-align: center;
}

button {
  width: 100%; /* Make the button take full width */
  margin-top: 20px;
}
