/* invoice-create.component.css */
.invoice-create-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px; /* Add padding for better spacing */
}

mat-form-field {
  flex: 1;
  margin: 0 10px;
}

button {
  flex: 1;
  margin-top: 20px;
}
